/*reset*/
html,body,#container{
    height: 100%;
    margin: 0;
}
#container{
    position: relative;
}
/*reset*/
/*header*/
.header{
    text-align: center;
    padding-top: 48px;
    position: relative;
}
#form {
    margin: 22px auto 0;
    text-align: left;
    width: 641px;
    z-index: 100;
    font-size: 0px;
}
.input-container{
    display: inline-block;
}
.text-container{
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    margin-right: 0;
    overflow: hidden;
    vertical-align: top;
    width: 539px;
    height: 34px;
}
.text{
    width: 500px;
    border: 0 none;
    font: 16px/18px arial;
    height: 22px;
    margin: 6px 0 0 7px;
    outline: 0 none;
    padding: 0;
}
.submit-container{
    vertical-align: top;
    height: auto;
    width: auto;
}
.submit{
    color: white;
    font-size: 15px;
    height: 36px;
    letter-spacing: 1px;
    width: 100px;
    cursor: pointer;
    background-color: #3385ff;
    border: none;
}
.ul{
    color: white;
    margin: 19px 0 5px;
    padding: 0 96px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.mnav{
    color: #333;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    margin-left: 20px;
    text-decoration: underline;
}
.lb,.pf{
    color: #333;
    display: inline-block;
    float: left;
    font-size: 13px;
    line-height: 24px;
    margin-left: 20px;
    text-decoration: underline;
}
.bri{
    background: #38f none repeat scroll 0 0;
    border-bottom: 1px solid #38f;
    color: white;
    display: inline-block;
    float: left;
    font-size: 13px;
    height: 23px;
    line-height: 24px;
    margin-left: 19px;
    margin-right: 2px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 60px;
}
.bri:link{
    text-decoration: none;
}
.mnav:visited,.lb:visited,.pf:visited{
    color: #333;
}
.mnav:hover,.lb:hover,.pf:hover{
    color: #00c;
}
/*header*/
/*footer*/
#ftCon{
    bottom: 44px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 0;
}
.ftCon-Wrapper{
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
#qrcode{
    display: inline-block;
}
.qrcode-item{
    float: left;
}
#qrcode .qrcode-item-1 .qrcode-img {
    background: url("ewm.png");
}
#qrcode .qrcode-item-2 .qrcode-img {
    background: url("ewm.png");
}
#qrcode .qrcode-img {
    float: left;
    height: 60px;
    width: 60px;
}
#qrcode .qrcode-text {
    color: #999;
    float: left;
    line-height: 23px;
    margin: 8px 0 0 10px;
}
#qrcode .qrcode-text p {
    text-align: left;
    font-size: 12px;
    line-height: 23px;
    margin: 0px;
}
#qrcode .qrcode-text span {
    letter-spacing: 1px;
}
#qrcode .qrcode-item-2 {
    margin-left: 33px;
}
#ftConw{
    display: inline-block;
    margin-left: 33px;
    position: relative;
    text-align: left;
    top: -12px;
}
#ftConw p{
    font-size: 12px;
    line-height: 15px;
}
#lh {
    margin: 16px 0 5px;
}
#cp, #cp a {
    color: #666;
    font-size: 12px;
}
#lh a {
    color: #272727;
    margin-right: 20px;
}
#seth {
    display: inline;
}
#cp .c-icon-icrlogo {
    background: url("icon.png") no-repeat -600px -96px;
    display: inline-block;
    height: 17px;
    overflow: hidden;
    position: relative;
    top: 3px;
    width: 14px;
}
/*footer*/